body {
    background-color: yellow;
}

.outer-box-large {
    width: 450px;
    height:450px;
    background-color: darkolivegreen ;
    border: 2px solid red;
    border-radius: 10px;
}

.inner-box1 {
    
    width:100px;
    height:100px;
    background-color: cyan;
    border-radius: 8px;
    margin: 20px auto;
    
}

.inner-box2 {
    
    width:150px;
    height:200px;
    background-color:blue;
    border: 1px solid purple;
    border-radius: 8px;
    margin: 10px;
    
    }

.inner-box3 {
    
    width:150px;
    height:60px;
    background-color:orange;
    border-radius: 8px;
    margin: 20px auto;
        
    
}

.outer-box-small {
    
    width:150px;
    height:200px;
    background-color: red;
    border-radius: 8px;
    margin: 20px;
}